body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.image-container {
  position: relative;
  text-align: center;
}

img {
  max-width: 40%;
  height: auto;
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  color: #333;
  font-family: "Belleza", sans-serif;
  font-size: 2rem;
  margin-top: -30px;
  margin-bottom: 200px;
}

button {
  padding: 15px 30px;
  background-color: #d8bda8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b89a88;
}

/* Contêiner do iframe */
.iframe-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  z-index: 100;
}

.iframe-container iframe {
  width: 90%;
  max-width: 1200px;
  height: 70vh;
  border: none;
  border-radius: 10px;
}

.iframe-container.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.hidden {
  display: none;
}

/* Botão de fechar */
.close-btn {
  background-color: #d8bda8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #b89a88;
}

/* Ajustes responsivos */
@media screen and (max-width: 768px) {
  img {
    max-width: 70%;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 120px;
    margin-top: 0px;
  }

  button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  .iframe-container iframe {
    height: 60vh;
  }

  .close-btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

/* @media screen and (max-width: 480px) {
  p {
    font-size: 1.2rem;
  }

  button {
    font-size: 1rem;
    padding: 8px 15px;
  }

  .iframe-container iframe {
    height: 70vh;
  }

  .close-btn {
    font-size: 1rem;
    padding: 15px 20px;
  }
} */

@media screen and (max-width: 420px) {
  img {
    max-width: 75%; /* Reduz o tamanho da imagem */
  }

  p {
    font-size: 1.3rem; /* Texto ajustado para exibição melhor */
    margin-top: -30px; /* Espaçamento reduzido */
    margin-bottom: 40px; /* Espaçamento reduzido */
  }

  button {
    font-size: 1.1rem;
    padding: 10px 20px;
  }

  .iframe-container iframe {
    height: 70vh;
  }

  .close-btn {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
